#homelink{
    text-decoration: none;
    color: aliceblue;
}

#input-area{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

html {
    background-color: rgb(200, 222, 230);
}

button, input, optgroup, select, textarea {
    margin: 20px;
    background-color: aliceblue;
    border: none;
    color: teal;
}

.main-container {
    background-color: rgb(200, 222, 230);
}

.title-bar {
    background-color: lightblue;
    color: aliceblue;
}

#inner-area {
    background-color: lightblue;
    border-radius: 25px;
    padding: 30px;
    width: 300px;
    color: white;
}

.hidden {
    display: none;
}

.error {
    color: darkred;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: teal;
}