/* Author: Megan Lew */

body{
    background-color:aliceblue;
    height: 600px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: teal;
}

.content{
    height: 100vh;
    padding: 30px 0;
    background-color: aliceblue;
}

.content-left {
    background-color: aliceblue;
}

.content-right {
    background-color: aliceblue;
}

.content-left-image{
    background-image: url('./healthy-recipes.jpg');
    background-size: cover;
    background-position: center;
    height: 85vh;
    background-repeat: no-repeat;
}

.recipe-main{
    margin-top: 40px;
}

.recipe-name{
    margin: 0 auto;
    border: 1.5px solid #777;
    width: fit-content;
    padding: 20px;
    margin-bottom: 40px;
    background-color: white;
}

.recipe-tabs{ /*container for both tabs*/
    display: flex;
    margin-left: 40px;
}

.recipe-detail{ /*text area*/
    padding: 20px;
    border: 1.5px solid #777;
    overflow-y: scroll;
    margin-right: 40px;
    margin-left: 40px;
    background-color: white;
}

.recipe-detail-list { /*text area details*/
    list-style: none;
}

.recipe-detail-item {
    margin-bottom: 20px;
}

.recipe-tab{ /*ingredients or steps tab*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    color: gray;
    cursor: pointer;
}

.recipe-tab:hover{
    color: teal;
}

.recipe-tab i{ /*icon*/
    font-size: 18px;
}

.recipe-tab-active { /*active tab*/
    color: teal;
    border-bottom: teal 2px solid;
}